<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <spring>
    <context><resource uri="config://spring/objects"/></context>      
    <objects xmlns="http://www.springframework.net">
      <object id="RandomSeaGenerator" type="BattleShips.RandomSeaGenerator, BattleShips" autowire="no" singleton="false"/>
      <object id="GameEngine" type="BattleShips.GameEngine, BattleShips" autowire="no" singleton="false">
        <property name="randomSeaGenerator" ref="RandomSeaGenerator"/>
      </object>
    </objects>
  </spring>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
